
#noti1{
    margin: 15px;
    font-style: oblique;
}
#titulo_principal{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 15px;

}
h3{
    margin-left: 20px;
    padding-top: 40px;
}
p{
    margin: 20px;
    font-size: 20px;
}
.figure{
    margin: 20px;
    width: 400px;
}
img{
    margin: 20px;
}
