
*{
    margin: 0px;
    padding: 0px;
    font-family: Barlow,sans-serif
}

/* .scroll-nav-background{
    background-color: #232332ee;
    backdrop-filter: blur(3px);
} */

.conteiner-registro{
    background-color: #1d2b36;
    border-radius: 20px;
    padding:30px;
    color: #fff;  
}

.form-control{
    width: 50%;
    margin: auto;
}

.boton-registrar{
    text-decoration: none;
    color: #fff;
}
.contenedor-icono{
    background-color: #1d2b36;
    border-radius: 20px;
    padding: 0px;
    height: 27.5px;
    width: 27.5px;
    margin: auto;
    text-align: center;
}

.contenedor-icono svg{
    color: #fff;
}

.nav-link{
    margin: 0px;
    padding: 0px;
}

.navbar-nav li{
    margin:0px 5px;
}

.d-flex button{
    margin:0px 5px;
}

.contenedor-fixed{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    padding: 35px 20px;
    filter: blur(0px);
}

.background-claro{
    background-image: url("portada_3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.modo-tema{
    width: 95%;
    text-align: center; 
}
.share_linea{
    display:inline-block;
    width: 35px;
    vertical-align: middle;
    border:1px solid #000;
}

body {
    height: 2000px;
}

.contenido-principal{
    margin: 151px 120px;
    text-align: center;
}

/* 
article{
    background-color: #1d2b36;

} */

.card{
    margin-top:50px; 
    margin-bottom: 50px;   
    border-radius: 30px;
    background-color: #e4ffb1;
    z-index: -1 ;
}

.blockquote ul li{
    list-style: none;
}

.col{
    padding: 10px;
}

.col img{
    border-radius: 20px;
    
}

.row{
    margin-bottom: 10px;
}